.leaderboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.leaderboard h2{
    color: var(--off-white, #F5EFE7);
    font-family: "Fredoka";
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.leaderboard__container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.leaderboard__container-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 50rem;
    overflow-y: auto;
    scrollbar-width: none;
}

.leaderboard__container-list--item{
    display: flex;
    border-radius: 0.3125rem;
    background: rgba(25, 25, 25, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    width: 34.375rem;
    position: relative;
    transition: box-shadow 0.2s ease;
    cursor: pointer;
}

.container-list--item-ranking{
    display: flex;
    align-items: flex-start;
    width: 20%;
}

.container-list--item-ranking h3{
    color: var(--off-white);
    font-family: "Fredoka";
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.container-list--item-ranking h6{
    color: var(--off-white);
    font-family: "Fredoka";
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding-top: 0.5rem;
}

.container-list--item-player{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-list--item-player p{
    color: var(--off-white);
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
}

.item-player-info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.item-player-dropdown{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-player-dropdown .item-player-dropdown-i{
    color: var(--off-white);
    font-size: 1.75rem;
}

.info--icon-crown{
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    transform: rotate(-45deg);
}

.info--icon-crown .icon-crown-i{
    color: #FFB14A;
    font-size: 1.5rem;
}

.item-player-info h4{
    color: var(--off-white, #F5EFE7);
    font-family: "Fredoka";
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.tiebreaker-note {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: var(--dark-blue);
    padding: 1.5rem;
    border-left: 4px solid var(--blue);
    border-radius: 0.3125rem;
}

.tiebreaker-note p{
    font-size: 1rem;
    color: var(--off-white);
    font-family: "Roboto";
    margin: 0;
}

.tiebreaker-note .tiebreaker-note-i{
    color: var(--off-white);
    font-size: 1.5rem;
}

.slideout-inline {
  margin-top: 1rem;
  width: 34.375rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.3125rem;
  background: var(--dark-blue, #213555);
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  animation: dropdownSlide 0.25s ease-out;
}

@keyframes dropdownSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideout-inline h4 {
    color: var(--off-white, #F5EFE7);
    font-family: "Fredoka";
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
}

.slideout-entries {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.entry {
    display: flex;
    justify-content: space-between;
    color: var(--off-white, #F5EFE7);
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 400;
}

.entry #points{
    color: var(--off-white, #F5EFE7);
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 700;
}

.entry.total {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    padding: 0.5rem 0;
    font-weight: bold;
    background-color: var(--blue);
}

.entry.total h2{
    color: var(--off-white, #F5EFE7);
    font-family: "Fredoka";
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0;
}

.entry.total p{
    color: var(--off-white, #F5EFE7);
    text-align: center;
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

@media (max-width: 475px) {
    .leaderboard h2{
        font-size: 2rem;
    }

    .leaderboard__container-list--item{
        width: 22rem;
    }

    .slideout-inline{
        width: 22rem;
    }

}