.lobby{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.lobby h1{
    color: var(--off-white, #F5EFE7);
    font-family: "Fredoka";
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.lobby__main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 35rem;
}

.lobby__main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 0.3125rem;
    background: var(--dark-blue, #213555);
}

.lobby__main-header--code{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.lobby__main-header--code h3{
    color: var(--off-white, #F5EFE7);
    font-family: "Roboto";
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.lobby__main-header button{
    all: unset;
    border-radius: 0.3125rem;
    background: var(--blue, #3E5879);
    padding: 0.25rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--off-white, #F5EFE7);
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;
}

.lobby__main-header .header-i{
    font-size: 1rem;
    color: var(--off-white);
}

.lobby__main-header--code button{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem;
    background: var(--blue, #3E5879);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.lobby__main-header--code .header--code-i{
    font-size: 1rem;
    color: var(--off-white);
}

.lobby__main-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lobby__main-list--player{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3125rem;
    background: rgba(25, 25, 25, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
}

.list--player-info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.player-info--icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--dark-blue);
    position: relative;
}

.player-info--icon .info--icon-i{
    color: var(--off-white);
    font-size: 1.5rem;
}

.list--player-info h4{
    color: var(--off-white, #F5EFE7);
    font-family: "Fredoka";
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.list--player-info .player-info-i{
    color: #FFB14A;
    font-size: 1.75rem;
}

.lobby__main-list--player .list--player-i{
    font-size: 2rem;
    color: var(--off-white);
    cursor: pointer;
}

.lobby__main-btns{
    display: flex;
    gap: .5rem;
}

.lobby__main-btns .btn{
    all: unset;
    border-radius: 0.3125rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 8rem;
    color: #FFF;
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    cursor: pointer;
}

.btn.submit-btn{
    background-color: var(--green);
}

.btn.cancel-btn{
    background-color: var(--red);
}

.copy-btn {
  transition: transform 0.2s ease;
}

.copy-btn:active {
  transform: scale(0.9);
}

@media (max-width: 475px) {
    .lobby__main{
        width: 22rem;
    }

    .lobby h1{
        font-size: 2rem;
    }
}