.player-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 7rem;
}

.player-select__icon-container{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.player-select-i{
    color: var(--off-white);
    font-size: 2.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.player-select-i:hover {
    transform: scale(1.2);
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
}

.player-icon-i{
    font-size: 3.75rem;
    color: var(--off-white);
}

.inputs-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: .35rem;
}

.inputs label{
    color: var(--off-white, #F5EFE7);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
}

.inputs input{
    all: unset;
    border-radius: 0.0625rem;
    border-bottom: 1px solid var(--beige, #D8C4B6);
    background: var(--off-white, #F5EFE7);
    padding: 0.5rem;
    width: 22.5rem;
    color: var(--rich-black, #191919);
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 400;
}

.inputs input::placeholder{
    color: var(--gray);
    font-family: "Roboto";
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 475px) {
    .inputs input{
        width: 18rem;
    }
}